In [1]:
import os
import pandas as pd

In [2]:
data_prefix = 'D:/USA 2020 Spring/data mining'

In [3]:
testdf = pd.read_csv( os.path.join(data_prefix, 'Python Lab/PYTHON_LAB_DF_TEST_2.csv'))

In [4]:
testdf.head()

,ID1,SCHED_SURG_AREA,RACE,ETHNIC_GROUP,PROC_DATE,SCHED_HOSPITAL,CREATE_DT_TM,SCHED_START_DT_TM,SCHED_SURG_PROC_CD,FEMALE,...,LACTATE_BLOOD_MIN_1,BACTERIA_MAX_1,BACTERIA_MIN_1,EPITHELIAL_CELLS_MAX_1,EPITHELIAL_CELLS_MIN_1,AG_RATIO_MAX_1,AG_RATIO_MIN_1,PCO2_ARTERIAL_MAX_1,PCO2_ARTERIAL_MIN_1,ADI_2015
0,1,PUHOR,White,Not Hispanic or Latino,11/29/2017 0:00,PUH,11/6/2017 8:33,11/29/2017 7:55,2237911813,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.230324
1,2,NOROR,White,Not Hispanic or Latino,9/19/2017 0:00,NOR,9/6/2017 15:05,9/19/2017 8:00,3903957,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.405837
2,3,PUHOR,White,Not Hispanic or Latino,2/28/2018 0:00,PUH,2/27/2018 8:52,2/28/2018 11:00,35821687,1.0,...,NaN,NaN,NaN,NaN,NaN,0.4,0.4,NaN,NaN,66.937556
3,4,PUHOR,White,Not Hispanic or Latino,6/7/2017 0:00,PUH,6/7/2017 13:48,6/7/2017 15:00,3907326,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.077581
4,5,NOROB,White,Not Hispanic or Latino,10/23/2017 0:00,NOR,10/23/2017 15:44,10/23/2017 15:42,576089753,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.875956

In [5]:
testdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11202 entries, 0 to 11201
Columns: 292 entries, ID1 to ADI_2015
dtypes: float64(278), int64(2), object(12)
memory usage: 25.0+ MB

In [6]:
testdf.dropna(subset = ["FEMALE"], inplace=True)

In [7]:
for col in testdf:
    if sum(pd.isnull(testdf[col]))>len(testdf) * 0.95:
        testdf.drop([col],axis=1,inplace=True)
print('\nTest shape: {}'.format(testdf.shape))

Test shape: (9595, 240)

In [8]:
testdf = testdf.drop(["CAV_REC_SEX","CAV_REC_LANG","CAV_REC_AGE"], axis=1)

In [9]:
for col in testdf:
    if testdf[col].dtype == "object":
        testdf[col].fillna(testdf[col].mode()[0], inplace=True)
    else:
        testdf[col].fillna(testdf[col].mean(), inplace=True)

In [10]:
def age_simple(age):
    if age<=44:
        return "young"
    elif age>44 and age<=59:
        return "mid_age"
    elif age>59 and age<=74:
        return "old"
    elif age>74:
        return "older"

In [11]:
testdf["age_people"] = testdf["AGE_ON_CONTACT_DATE"].apply(age_simple)

In [12]:
cat_col = []
for col in testdf:
    if testdf[col].dtype == "object":
        cat_col.append(col)
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
for column in cat_col:
    testdf[column] = lb.fit_transform(testdf[column])

In [13]:
testdf.head()

,ID1,SCHED_SURG_AREA,RACE,ETHNIC_GROUP,PROC_DATE,SCHED_HOSPITAL,CREATE_DT_TM,SCHED_START_DT_TM,SCHED_SURG_PROC_CD,FEMALE,...,AST_MAX_1,AST_MIN_1,ALT_MAX_1,ALT_MIN_1,ALKALINE_PHOSPHATASE_MAX_1,ALKALINE_PHOSPHATASE_MIN_1,TOTAL_PROTEIN_MAX_1,TOTAL_PROTEIN_MIN_1,ADI_2015,age_people
0,1,33,14,2,83,13,2297,1533,2237911813,0.0,...,82.080913,22.900415,82.080913,22.900415,147.562241,77.690871,7.347718,6.172407,67.230324,1
1,2,27,14,2,345,11,9353,6192,3903957,1.0,...,82.080913,22.900415,82.080913,22.900415,147.562241,77.690871,7.347718,6.172407,67.405837,2
2,3,33,14,2,143,13,3665,2565,35821687,1.0,...,20.000000,10.000000,20.000000,10.000000,112.000000,68.000000,8.400000,6.400000,66.937556,0
3,4,33,14,2,270,13,7000,4852,3907326,0.0,...,82.080913,22.900415,82.080913,22.900415,147.562241,77.690871,7.347718,6.172407,67.077581,0
4,5,26,14,2,46,11,1198,837,576089753,1.0,...,82.080913,22.900415,82.080913,22.900415,147.562241,77.690871,7.347718,6.172407,58.875956,3

In [14]:
X_test = testdf.drop(["ID1","AGE_ON_CONTACT_DATE"], axis=1)

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_test_vars = scaler.fit_transform(X_test)

In [16]:
import pickle
with open(os.path.join(data_prefix, 'ds_surgery_proj/pre_lgbm_model.pckl'), 'rb') as fin:
        model = pickle.load(fin)

In [17]:
testdf['risk_prob'] = model.predict(X_test_vars)

In [18]:
testdf.head()

,ID1,SCHED_SURG_AREA,RACE,ETHNIC_GROUP,PROC_DATE,SCHED_HOSPITAL,CREATE_DT_TM,SCHED_START_DT_TM,SCHED_SURG_PROC_CD,FEMALE,...,AST_MIN_1,ALT_MAX_1,ALT_MIN_1,ALKALINE_PHOSPHATASE_MAX_1,ALKALINE_PHOSPHATASE_MIN_1,TOTAL_PROTEIN_MAX_1,TOTAL_PROTEIN_MIN_1,ADI_2015,age_people,risk_prob
0,1,33,14,2,83,13,2297,1533,2237911813,0.0,...,22.900415,82.080913,22.900415,147.562241,77.690871,7.347718,6.172407,67.230324,1,0.200863
1,2,27,14,2,345,11,9353,6192,3903957,1.0,...,22.900415,82.080913,22.900415,147.562241,77.690871,7.347718,6.172407,67.405837,2,0.625399
2,3,33,14,2,143,13,3665,2565,35821687,1.0,...,10.000000,20.000000,10.000000,112.000000,68.000000,8.400000,6.400000,66.937556,0,0.373468
3,4,33,14,2,270,13,7000,4852,3907326,0.0,...,22.900415,82.080913,22.900415,147.562241,77.690871,7.347718,6.172407,67.077581,0,0.610582
4,5,26,14,2,46,11,1198,837,576089753,1.0,...,22.900415,82.080913,22.900415,147.562241,77.690871,7.347718,6.172407,58.875956,3,0.048524

In [21]:
testdf.to_csv(os.path.join(data_prefix, 'ds_surgery_proj/pre_submit.csv'), index=False)